## Imports and Config

In [1]:
!pip install ccxt
!pip install alpaca-trade-api
!pip install fredapi

Collecting ccxt
  Downloading ccxt-1.76.71-py2.py3-none-any.whl (2.5 MB)
     |████████████████████████████████| 2.5 MB 4.3 MB/s
Collecting setuptools>=60.9.0
  Downloading setuptools-60.10.0-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 39.9 MB/s
Collecting aiodns>=1.1.1
  Downloading aiodns-3.0.0-py3-none-any.whl (5.0 kB)
Collecting aiohttp>=3.8
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 37.0 MB/s
Requirement already satisfied: certifi>=2018.1.18 in /usr/local/lib/python3.7/dist-packages (from ccxt) (2021.10.8)
Collecting cryptography>=2.6.1
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 28.1 MB/s
Collecting yarl==1.7.2
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 43.7 MB/s
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from ccxt) (2.23.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from yarl==1.7.2->ccxt) (3.10.0.2)
Collecting multidict>=4.0
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 2.3 MB/s
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl==1.7.2->ccxt) (2.10)
Collecting pycares>=4.0.0
  Downloading pycares-4.1.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (291 kB)
     |████████████████████████████████| 291 kB 7.0 MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.8->ccxt) (21.4.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.8->ccxt) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 50.4 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.6.1->ccxt) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.6.1->ccxt) (2.21)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->ccxt) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->ccxt) (3.0.4)
Installing collected packages: multidict, frozenlist, yarl, pycares, asynctest, async-timeout, aiosignal, setuptools, cryptography, aiohttp, aiodns, ccxt
  Attempting uninstall: setuptools
    Found existing installation: setuptools 57.4.0
    Uninstalling setuptools-57.4.0:
      Successfully uninstalled setuptools-57.4.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.0 requires tf-estimator-nightly==2.8.0.dev2021122109, which is not installed.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed aiodns-3.0.0 aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 ccxt-1.76.71 cryptography-36.0.2 frozenlist-1.3.0 multidict-6.0.2 pycares-4.1.2 setuptools-60.10.0 yarl-1.7.2

Collecting alpaca-trade-api
  Downloading alpaca_trade_api-1.5.1-py3-none-any.whl (36 kB)
Collecting aiohttp==3.7.4
  Downloading aiohttp-3.7.4-cp37-cp37m-manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 4.4 MB/s
Requirement already satisfied: urllib3<2,>1.24 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.24.3)
Collecting PyYAML==6.0
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 44.8 MB/s
Collecting websockets<11,>=8.0
  Downloading websockets-10.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (111 kB)
     |████████████████████████████████| 111 kB 56.5 MB/s
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.3.5)
Collecting deprecation==2.1.0
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Collecting msgpack==1.0.2
  Downloading msgpack-1.0.2-cp37-cp37m-manylinux1_x86_64.whl (273 kB)
     |████████████████████████████████| 273 kB 56.8 MB/s
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.21.5)
Requirement already satisfied: requests<3,>2 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (2.23.0)
Collecting websocket-client<2,>=0.56.0
  Downloading websocket_client-1.3.1-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.5 MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.7.4->alpaca-trade-api) (1.7.2)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.7.4->alpaca-trade-api) (3.10.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.7.4->alpaca-trade-api) (21.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.7.4->alpaca-trade-api) (6.0.2)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.7.4->alpaca-trade-api) (3.0.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from deprecation==2.1.0->alpaca-trade-api) (21.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18.1->alpaca-trade-api) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>2->alpaca-trade-api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>2->alpaca-trade-api) (2021.10.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->deprecation==2.1.0->alpaca-trade-api) (3.0.7)
Installing collected packages: async-timeout, websockets, websocket-client, PyYAML, msgpack, deprecation, aiohttp, alpaca-trade-api
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.2
    Uninstalling async-timeout-4.0.2:
      Successfully uninstalled async-timeout-4.0.2
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: msgpack
    Found existing installation: msgpack 1.0.3
    Uninstalling msgpack-1.0.3:
      Successfully uninstalled msgpack-1.0.3
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.8.1
    Uninstalling aiohttp-3.8.1:
      Successfully uninstalled aiohttp-3.8.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ccxt 1.76.71 requires aiohttp>=3.8; python_version >= "3.5.2", but you have aiohttp 3.7.4 which is incompatible.
Successfully installed PyYAML-6.0 aiohttp-3.7.4 alpaca-trade-api-1.5.1 async-timeout-3.0.1 deprecation-2.1.0 msgpack-1.0.2 websocket-client-1.3.1 websockets-10.2
Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

In [2]:
import ccxt
from fredapi import Fred
from alpaca_trade_api.rest import REST, TimeFrame, TimeFrameUnit
from alpaca_trade_api.common import URL

import numpy as np
import pandas as pd

import pickle
from datetime import datetime, timedelta

from sklearn.decomposition import PCA

## Load CSV File

In [ ]:
# dateparse = lambda dates: [datetime.strptime(d, '%Y-%m-%d %H:%M:%S') for d in dates]

In [37]:
df = pd.read_csv('IS5006_Historical.csv', index_col='datetime', parse_dates=[0], dayfirst=True)
df.head()

            Fuzzy_sentiment_signal      MACRO_0   MACRO_1   MACRO_2  MA_Signal
datetime
2021-01-01                       0  3661.709111 -5.580458  0.925199        0.0
2021-01-02                       0  3757.358041 -5.094828  1.771221        0.0
2021-01-03                       0  3853.006971 -4.609197  2.617242        0.0
2021-01-04                       0  3948.655902 -4.123567  3.463264        0.0
2021-01-05                       0  3780.935518 -3.040439  1.718721        0.0

## Get Historical Prices

In [20]:
exch = 'hitbtc'
period = '1d'
start = datetime(2020, 1, 1) # Earlier date to facilitate moving average calculation
end = datetime(2022, 3, 1)
limit = 500
days = (end - start).days
symbol = 'BTCUSD'

In [8]:
def convert_gmt_to_local(t):
    return(t + (datetime.now() - datetime.utcnow()))

In [22]:
historical_df = pd.DataFrame(columns=['Open', 'High', 'Low', 'Close', 'Volume'])
url = URL('https://paper-api.alpaca.markets')
api = REST(key_id='PKSJMCQ1L3N9P8ZS53QH', secret_key='C2goedA9k82LGw4Z2enKle2RnakprtUpQLtbnUyu', base_url=url)
for i in range(int(days//limit)+1):
    since = ((start+timedelta(limit*i))).strftime('%Y-%m-%d')
    ohlcv = api.get_crypto_bars('BTCUSD', TimeFrame(1, TimeFrameUnit.Day), since, None, limit, ['CBSE']).df
    ohlcv.index = pd.to_datetime(convert_gmt_to_local(ohlcv.index)).date
    ohlcv.drop(['exchange', 'trade_count', 'vwap'], axis=1, inplace=True)
    ohlcv.columns=['Open', 'High', 'Low', 'Close', 'Volume']
    ohlcv.index.rename('Timestamp', inplace=True)
    historical_df = historical_df.append(ohlcv)
historical_df.head()

               Open     High      Low    Close       Volume
2020-01-01  7174.33  7186.18  7089.00  7108.03  1357.688568
2020-01-02  6945.02  7281.24  6854.67  7203.04  4385.672853
2020-01-03  7203.04  7401.20  7176.07  7334.45  9593.744578
2020-01-04  7333.95  7398.00  7263.32  7348.63  3788.097227
2020-01-05  7355.40  7580.00  7343.17  7528.70  3362.380611

In [24]:
historical_df.tail()

                Open      High       Low     Close        Volume
2022-03-17  41360.67  41486.00  40261.58  40646.56  15356.127485
2022-03-18  40645.27  42396.04  40130.00  41824.46  16287.481907
2022-03-19  41823.30  42429.00  41560.49  41875.48   9292.766254
2022-03-20  41875.01  42037.81  40509.00  40882.31   7447.710197
2022-03-21  40886.69  41578.33  40750.07  40938.02   5109.143723

## Add MA Crossover

In [27]:
# df.drop(['MA_Signal'], axis=1, inplace=True)
# df.head()

            Fuzzy_sentiment_signal      MACRO_0   MACRO_1   MACRO_2
datetime
2021-01-01                       0  3661.709111 -5.580458  0.925199
2021-01-02                       0  3757.358041 -5.094828  1.771221
2021-01-03                       0  3853.006971 -4.609197  2.617242
2021-01-04                       0  3948.655902 -4.123567  3.463264
2021-01-05                       0  3780.935518 -3.040439  1.718721

In [25]:
ma_df = historical_df.copy(deep = True)

In [31]:
ma_df['EMA_10'] = ma_df['Close'].ewm(span=10, adjust = False).mean()
ma_df['SMA_50'] = ma_df['Close'].rolling(50).mean()
ma_df[f'MA_Position'] = np.where(ma_df[f'EMA_10'] > ma_df[f'SMA_50'], 1.0, 0.0)
ma_df[f'MA_Signal'] = ma_df[f'MA_Position'].diff()
ma_df.drop([f'MA_Position'], axis=1, inplace=True)
ma_df.index = pd.to_datetime(ma_df.index, errors='coerce')
ma_df.head()

,Open,High,Low,Close,Volume,EMA_10,SMA_50,MA_Signal
2020-01-01,7174.33,7186.18,7089.00,7108.03,1357.688568,7108.030000,NaN,NaN
2020-01-02,6945.02,7281.24,6854.67,7203.04,4385.672853,7125.304545,NaN,0.0
2020-01-03,7203.04,7401.20,7176.07,7334.45,9593.744578,7163.330992,NaN,0.0
2020-01-04,7333.95,7398.00,7263.32,7348.63,3788.097227,7197.021721,NaN,0.0
2020-01-05,7355.40,7580.00,7343.17,7528.70,3362.380611,7257.326862,NaN,0.0

In [36]:
ma_df['MA_Signal'].value_counts()

 0.0    789
 1.0     11
-1.0     10
Name: MA_Signal, dtype: int64

In [34]:
updated_df = df.merge(ma_df[['MA_Signal']], left_on=df.index, right_on=ma_df[['MA_Signal']].index, how='left')
updated_df.rename({'key_0': 'datetime'}, inplace=True, axis=1)
updated_df.set_index('datetime', inplace=True)
updated_df.sort_index(ascending=True, inplace=True)
updated_df.head()

            Fuzzy_sentiment_signal      MACRO_0   MACRO_1   MACRO_2  MA_Signal
datetime
2021-01-01                       0  3661.709111 -5.580458  0.925199        0.0
2021-01-02                       0  3757.358041 -5.094828  1.771221        0.0
2021-01-03                       0  3853.006971 -4.609197  2.617242        0.0
2021-01-04                       0  3948.655902 -4.123567  3.463264        0.0
2021-01-05                       0  3780.935518 -3.040439  1.718721        0.0

In [35]:
updated_df.to_csv('IS5006_Historical.csv')

## Add Macroeconomic Data

In [ ]:
macro_series = {'inflation': 'FPCPITOTLZGUSA', 'unemployment': 'UNRATE', 
        'oil': 'DCOILWTICO', 'gold_vix': 'GVZCLS', 'cboe_vix':'VIXCLS', 'dow_jones': 'DJIA',
        'interest_rate': 'IR3TIB01USM156N'}

In [ ]:
fred = Fred(api_key='40ed0248dfecd2195c2bc8353707eead')

In [ ]:
macro_df = pd.DataFrame(index=df.index)
for key in macro_series.keys():
  temp_df = fred.get_series(macro_series[key])
  temp_df.name = key
  macro_df = macro_df.merge(temp_df, left_on=macro_df.index, right_on=temp_df.index, how='outer')
  macro_df.rename({'key_0': 'datetime'}, inplace=True, axis=1)
  macro_df.set_index('datetime', inplace=True)
  macro_df.sort_index(ascending=True, inplace=True)

In [ ]:
macro_df.tail()

,inflation,unemployment,oil,gold_vix,cboe_vix,dow_jones,interest_rate
datetime,,,,,,,
2022-03-14,NaN,NaN,103.22,24.08,31.77,32945.24,NaN
2022-03-15,NaN,NaN,NaN,23.80,29.83,33544.34,NaN
2022-03-16,NaN,NaN,NaN,22.51,26.67,34063.10,NaN
2022-03-17,NaN,NaN,NaN,22.23,25.67,34480.76,NaN
2022-03-18,NaN,NaN,NaN,NaN,NaN,34754.93,NaN

In [ ]:
macro_df['inflation'] = macro_df['inflation'].fillna(method="ffill")
macro_df['unemployment'] = macro_df['unemployment'].fillna(method="ffill")
macro_df['oil'] = macro_df['oil'].interpolate(method='time')
macro_df['gold_vix'] = macro_df['gold_vix'].interpolate(method='time')
macro_df['cboe_vix'] = macro_df['cboe_vix'].interpolate(method='time')
macro_df['dow_jones'] = macro_df['dow_jones'].interpolate(method='time')
macro_df['interest_rate'] = macro_df['interest_rate'].fillna(method="ffill")
macro_df.tail()

,inflation,unemployment,oil,gold_vix,cboe_vix,dow_jones,interest_rate
datetime,,,,,,,
2022-03-14,1.233584,3.8,103.22,24.08,31.77,32945.24,0.38
2022-03-15,1.233584,3.8,103.22,23.80,29.83,33544.34,0.38
2022-03-16,1.233584,3.8,103.22,22.51,26.67,34063.10,0.38
2022-03-17,1.233584,3.8,103.22,22.23,25.67,34480.76,0.38
2022-03-18,1.233584,3.8,103.22,22.23,25.67,34754.93,0.38

In [ ]:
# df.drop(['inflation',	'unemployment',	'oil',	'gold_vol'], axis=1, inplace=True)

In [ ]:
updated_df = df.merge(macro_df, left_on=df.index, right_on=macro_df.index, how='left')
updated_df.rename({'key_0': 'datetime'}, inplace=True, axis=1)
updated_df.set_index('datetime', inplace=True)
# updated_df.sort_index(ascending=True, inplace=True)
updated_df.head()

,Fuzzy_sentiment_signal,MA_Signal,inflation,unemployment,oil,gold_vix,cboe_vix,dow_jones,interest_rate
datetime,,,,,,,,,
2021-01-01,0,0,1.233584,6.4,48.13,21.0575,23.805,30510.8325,0.14
2021-01-02,0,0,1.233584,6.4,47.91,21.3250,24.860,30415.1850,0.14
2021-01-03,0,0,1.233584,6.4,47.69,21.5925,25.915,30319.5375,0.14
2021-01-04,0,0,1.233584,6.4,47.47,21.8600,26.970,30223.8900,0.14
2021-01-05,0,0,1.233584,6.4,49.78,22.1400,25.340,30391.6000,0.14

In [ ]:
# pca = PCA(n_components=3)
# pca.fit(updated_df[list(macro_series.keys())])
# print(pca.explained_variance_ratio_)
# with open('macro_pca.pkl','wb') as f:
#     pickle.dump(pca,f)

In [ ]:
pca = None
with open('macro_pca.pkl', 'rb') as f:
    pca = pickle.load(f)

In [ ]:
pca_cols = pd.DataFrame(pca.transform(updated_df[list(macro_series.keys())]), columns = [f'MACRO_{i}' for i in range(pca.n_components)], index=updated_df.index)
pca_cols.head()

                MACRO_0   MACRO_1   MACRO_2
datetime
2021-01-01  3661.709111 -5.580458  0.925199
2021-01-02  3757.358041 -5.094828  1.771221
2021-01-03  3853.006971 -4.609197  2.617242
2021-01-04  3948.655902 -4.123567  3.463264
2021-01-05  3780.935518 -3.040439  1.718721

In [ ]:
updated_df.drop(list(macro_series.keys()), axis=1, inplace=True)
updated_df = updated_df.merge(pca_cols, left_on=updated_df.index, right_on=pca_cols.index)
updated_df.rename({'key_0': 'datetime'}, inplace=True, axis=1)
updated_df.set_index('datetime', inplace=True)
updated_df.head()

            Fuzzy_sentiment_signal  MA_Signal      MACRO_0   MACRO_1   MACRO_2
datetime
2021-01-01                       0          0  3661.709111 -5.580458  0.925199
2021-01-02                       0          0  3757.358041 -5.094828  1.771221
2021-01-03                       0          0  3853.006971 -4.609197  2.617242
2021-01-04                       0          0  3948.655902 -4.123567  3.463264
2021-01-05                       0          0  3780.935518 -3.040439  1.718721

In [ ]:
updated_df.tail()

,Fuzzy_sentiment_signal,MA_Signal,MACRO_0,MACRO_1,MACRO_2
datetime,,,,,
2022-02-20,1,-1,334.488761,24.074482,0.790679
2022-02-21,0,0,455.129095,24.827410,0.645460
2022-02-22,0,0,575.769429,25.580338,0.500242
2022-02-23,0,0,1040.616450,28.084669,1.338296
2022-02-24,0,0,948.544133,28.137896,0.788475

In [ ]:
updated_df.index = pd.to_datetime(updated_df.index)
updated_df.to_csv('IS5006_Historical.csv')

## Add VaR Code

In [38]:
var_df = historical_df.copy(deep = True)
var_df

                Open      High       Low     Close        Volume
2020-01-01   7174.33   7186.18   7089.00   7108.03   1357.688568
2020-01-02   6945.02   7281.24   6854.67   7203.04   4385.672853
2020-01-03   7203.04   7401.20   7176.07   7334.45   9593.744578
2020-01-04   7333.95   7398.00   7263.32   7348.63   3788.097227
2020-01-05   7355.40   7580.00   7343.17   7528.70   3362.380611
...              ...       ...       ...       ...           ...
2022-03-17  41360.67  41486.00  40261.58  40646.56  15356.127485
2022-03-18  40645.27  42396.04  40130.00  41824.46  16287.481907
2022-03-19  41823.30  42429.00  41560.49  41875.48   9292.766254
2022-03-20  41875.01  42037.81  40509.00  40882.31   7447.710197
2022-03-21  40886.69  41578.33  40750.07  40938.02   5109.143723

[811 rows x 5 columns]

In [39]:
def calc_var(price, df):
  periodic_ret = df['Close'].pct_change().dropna().sort_values().reset_index(drop=True)
  xth = int(np.floor(0.01*len(periodic_ret))) - 1
  xth_smallest_rate = periodic_ret[xth]
  mean_return_rate = periodic_ret.mean()
  VaR = price * (mean_return_rate - xth_smallest_rate)
  return(VaR)

In [62]:
new_var_df = var_df.iloc[366:]
new_var_df['VaR'] = 0
for ix, row in new_var_df.iterrows():
  old_df = var_df[(ix-timedelta(days=300)): ix]
  new_var_df.at[ix, 'VaR'] = calc_var(row['Close'], old_df)
new_var_df.index = pd.to_datetime(new_var_df.index, errors='coerce')
new_var_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                Open      High       Low     Close        Volume   VaR
2021-01-01  29413.29  29683.50  29039.00  29683.03   4431.837894  3111
2021-01-02  32222.88  34205.00  32008.62  33779.48   7955.017558  3546
2021-01-03  33082.83  33666.99  32453.37  32903.87   7401.195215  3450
2021-01-04  32020.22  32890.00  30020.00  30460.19  11908.475812  3187
2021-01-05  34043.91  35848.99  33352.54  35130.05  11648.279116  3698

In [63]:
updated_df = df.merge(new_var_df[['VaR']], left_on=df.index, right_on=new_var_df[['VaR']].index, how='left')
updated_df.rename({'key_0': 'datetime'}, inplace=True, axis=1)
updated_df.set_index('datetime', inplace=True)
updated_df.sort_index(ascending=True, inplace=True)
updated_df.head()

,Fuzzy_sentiment_signal,MACRO_0,MACRO_1,MACRO_2,MA_Signal,VaR
datetime,,,,,,
2021-01-01,0,3661.709111,-5.580458,0.925199,0.0,3111
2021-01-02,0,3757.358041,-5.094828,1.771221,0.0,3546
2021-01-03,0,3853.006971,-4.609197,2.617242,0.0,3450
2021-01-04,0,3948.655902,-4.123567,3.463264,0.0,3187
2021-01-05,0,3780.935518,-3.040439,1.718721,0.0,3698

In [65]:
updated_df.to_csv('IS5006_Historical.csv')